body {
    width:960px;
    background-color: #355664;
    font-family:Arial, sans-serif;
    color:#fcfcfc;
    margin:0 auto;
}

header h1,h2,h3 {
    font-family: forte, Arial, sans-serif;
}

header h1 {
    text-align: center;
    font-size:50px;
    text-transform: uppercase;
}

header h3 {
    text-align: right;
    font-size:30px;
}

header nav {
    background-color: rgb(53, 86, 100);
}

header nav ul {
    margin:0;
}

header ul li {
    display: inline-block;
    margin:5px;
}

header nav ul li:first-child a{
    color:#7CB3E4;
    text-transform: lowercase;
}

header nav ul li:last-child a {
    text-transform: uppercase;
    color: #ffffff;
}

header nav ul li a[title="sweet tabs"] {
    color:#7CA160;
}

main article {
    background-color: #213E4A;
    border-radius: 10px;
    height: 410px;
}

main article h2 {
    text-align: center;
    padding:25px 10px 10px;
    text-transform: uppercase;
    letter-spacing:15px;
    margin-top:0;
    font-size:40px;
}

.article-content {
    border-top: 3px solid #355664;
    margin:0 15px;
}

.article-content figure img {
    width:480px;
    border-radius:10px;
    float:right;
}

.article-content figure+p{
    color:rgb(148, 194, 88);
}

footer {
    text-align: center;
    font-size :20px;
    border-top:3px solid #142830;
    margin-top:10px;
    padding:10px;
}