body {
    font-family: Lato sans-serif;
    color: #FFFFFF;
}

.container {
    background: url(background-image.jpg) no-repeat center center;
    background-size: 100%;
    padding: 0 10px;
    height:800px;
    text-align: center;
}

.container h1 {
    font-size: 80px;
    padding: 80px 0;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.container p {
    font-size : 27px;
    font-weight:100;
    margin:20px;
}

.btn {
    padding: 15px 45px;
    border-radius: 15px;
    background:none;
    margin-top:40px;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    font-size: 16px;
}

.container button:hover {
    background: #000000;
    border-color: #000000;
    cursor: pointer;
}

