@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v14/EInbV5DfGHOiMmvb1Xr-hugdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

body {
    font-family:"Open Sans",sans-serif;
    margin:0;
    padding: 0;
    font-size:16px;
    background: #4F6E7E;
}

nav {
    background: #EFF4F7;
    margin:30px 20px;
    position: relative;
    top:-109px;
    left:0;
}

nav ul {
    list-style-type: none;
    line-height: 40px;
    text-align: right;
    margin-right:20px;
}

nav ul li {
    display: inline-block;
    margin:10px 15px;
}

nav ul li a {
    text-decoration: none;
    color:#B6C8E4;
    font-size:0.9em;
    font-weight: 100;
    font-family: sans-serif;
}

div.block {
    background: #EA3D51;
    width:110px;
    height: 94px;
    position: relative;
    margin:20px auto;
}

.block span {
    color:#ffffff;
    text-transform: uppercase;
    font-size:2.0em;
    letter-spacing: 5px;
    position: relative;
    top: 70px;
    left: 30px;
}

main div.container {
    background: #CBD0D9;
    margin:60px 100px;
    padding:0 auto;
}

div.container .heading h1,h5 {
    margin:0;
    padding:0;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

div.container .heading h1 {
    font-size:5.5em;
    top:10px;
    left:67px;
    color: #6DFFB8;
}

div.container .heading h5 {
    font-size:2.6em;
    top:-111px;
    left:20px;
}

.user-review {
    width: 340px;
    height:390px;
    background: #EB3953;
    margin:0 auto;
    padding:0 auto;
    text-align: center;
    position: relative;
    top:-10px;
    left:20px;
    z-index: 8;
}

p.rating {
    color: #ffffff;
    font-size:1.4em;
}

.rating span {
    padding:6px;
}

img.user {
    width:100px;
    height:100px;
    border-radius: 200px;
    margin:30px 0 10px 0;
}

.user-review p {
    font-size:0.8em;
    color: #ffffff;
    font-family:sans-serif;
    font-weight:100;
    margin:15px 38px;
    line-height:16px;
}

.user-review .book-content:before {
    content: ' " ';
    font-size:2.4em;
    color:#AF2245;
    font-weight: bold;
}

.user-review .book-content:after {
    content: ' " ';
    font-size:2.4em;
    color:#AF2245;
    font-weight: bold;
    position: relative;
    top:7px;
}

.user-review button {
    background: none;
    width:100px;
    text-transform: uppercase;
    padding: 10px;
    color:#ffffff;
    border: 3px solid #70ECFF;
}

.user-review > button:hover {
    background-color: #70ECFF;
}

.book {
    background: #FFFFFF;
    margin:20px 40px 80px 40px;
    height: 400px;
    position: relative;
    top:-165px;
    left:1px;
    z-index: 4;
}

.book > header,.book > p,.book > button{
    position: absolute;
    bottom: 0;
    margin:0 0 40px 20px;
}

.book > header {
    bottom: 90px;
    color:#46EE97;
    font-size: 1.7em;
}

.book > p {
    bottom: 40px;
    font-size: 0.8em;
    font-family:sans-serif;
    font-weight: 100;
    width:592px;
}

.book > button {
    bottom:-10px;
    background: none;
    text-transform: uppercase;
    padding:10px;
    font-size: 0.7em;
    border:3px solid #628291;
}

.book > button:hover {
    cursor: pointer;
    background: #628291;
    color:#46EE97;
}


