body {
    background-image: url("images/plan-page.jpg");
    font-size:20px;
    font-family: Lato, sans-serif;
    width:1180px;
}

body section {
    text-align: center;
}

body section article {
    display: inline-block;
    width:250px;
    border:5px solid #424242;
    margin: 80px 20px 0 20px;
    height:430px;
    background-color: #262626;
    padding: 10px;
    color: #a1a1a1;
}

section article h1 {
    color:#FFF;
    font-size:1.2em;
    font-weight: 100;
}

section article h1+p {
    font-size: 0.7em;
}

section article .price {
    color:#27DCC4;
    font-size:2em;
    font-weight:bold;
}

section article ul {
    font-size:0.7em;
    margin:0;
    padding:0;
}

section article ul li {
    padding: 5px 0;
    list-style-type: none;
}

section article button {
    background-color: #27DCC4;
    color: #ffffff;
    height:40px;
    width:120px;
    margin:10px 0;
    border:none;
    font-size: 0.7em;
    cursor: pointer;
}

section article button:hover{
    background-color: #ACACAC;
}

