@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    background: #EEEEEE;
    font-family: Tahoma, Helvetica, sans-serif;
    font-size:16px;
}

div.container {
    width:800px;
    clear: both;
    height: 600px;
}

div.container {
    background: #FFFFFF;
    margin:20px auto;
    width:70%;
}

div.container header {
    padding: 30px 40px;
    text-align: center;
    font-size:0.8em;
}

div.container header p {
    border-bottom: 2px solid #EEEEEE;
    padding-bottom:20px;
    font-family:Tahoma,sans-serif;
    font-size:1.2em;
    margin-left: 25px;
    margin-right:25px;
}

div.forms-container {
    position: relative;
    top:-36px;
    left:138px;
}

div.forms-container form {
    width:40%;
    display: inline-block;
    float: left;
}

#register > label,
#login > label {
    width:100%;
    display: inline-block;
}

#register label > input,
#login label > input,
#register > label > span,
#login > label > span {
    width:70%;
    display: block;
    margin-top:15px;
    border-radius: 5px;
    border: 1px solid #D0D0D0;
}

div.forms-container form label input::-webkit-input-placeholder {
    color:#B6C3DA;
}

#register label span,
#login label span {
    border:none;
    font-weight:900;
}

div.forms-container form label input {
    padding: 10px;
    outline:0 none;
}

#login > span,
#register > span {
    font-size:0.8em;
    width:70%;
    display: block;
    margin-top:10px;
    margin-bottom:10px;
}

#register button {
    width:150px;
}

#login button {
    width:100px;
}

#register button,
#login button {
    padding:12px;
    font-weight:700;
    border: 1px solid #D7D7D7;
    outline:0 none;
    background: #F0F0F0;
    border-radius: 7px;
    box-shadow: 3px 3px 10px #D7D7D7;
}

#register button:hover,
#login button:hover {
    background-color: #AFDF67;
    cursor: pointer;
}

#login span:hover {
    color:red;
    cursor: pointer;
    text-decoration: underline;
}